<div
  fxfill
  fxLayout="column"
  fxLayoutAlign="center center"
  style="position: absolute"
>
  <div style="width: 100vw">
    <button mat-fab style="margin: 1%; position: fixed" routerLink="">
      <mat-icon>home</mat-icon>
    </button>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="space-evenly center"
    style="width: 100%; margin-top: 5rem"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      type="submit"
      style="cursor: pointer"
    >
      <!-- (click)="SeleccionCasa(1)" -->
      <h2 class="font2">Gryffindor</h2>
      <img
        id="gryffindor"
        class="Escudos"
        src="./assets/imagenes/gryffindor.png"
      />
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      type="submit"
      style="cursor: pointer"
    >
      <!-- (click)="SeleccionCasa(2)" -->
      <h2 class="font2">Slytherin</h2>
      <img class="Escudos" src="./assets/imagenes/slytherin.png" />
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      type="submit"
      style="cursor: pointer"
    >
      <!-- (click)="SeleccionCasa(3)" -->
      <h2 class="font2">Hufflepuff</h2>
      <img class="Escudos" src="./assets/imagenes/hufflepuff.png" />
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      type="submit"
      style="cursor: pointer"
    >
      <!-- (click)="SeleccionCasa(4)" -->

      <h2 class="font2">Ravenclaw</h2>
      <img class="Escudos" src="./assets/imagenes/ravenclaw.png" />
    </div>
  </div>
  <div fxFill>
    <app-tabla></app-tabla>
  </div>
</div>
